body{
    font-family: "Duplicate Ionic";
       background-color: #FFD8B4;
        line-height: 1.15;
       -webkit-text-size-adjust: 100%;
   }
   h1{
     text-align:center;
   }
   #container-texto{
    background-color:#F8E7D8;
     display:grid;
      gap: 4px;
     grid-template-columns:repeat {
       auto-fit,
       minmax{
         150px,
         1fr
       }
     } 
     
   }
   
   .ClassTexto{
     width:100%;
     height:auto;
     border-radius:5px;
    
   }
   #DatosTexto{
     border:solid;
     background-color:#FF9C44;
    margin: 50px 50px;
   }
   
   .ClassTexto{
     border:groove;
     background-color:#FFBA7C;
   }
   
   #containerSimulador{
     display:flex;
     direction-flex:raw;
     justify-content:center;
     margin: 10px 10px;
    }
   
   .ClassSimulador{
     border:groove;
       background-color:#FFBA7C;
   }
   button{
       background-color: #FF9C44; 
       border-radius: 8px;
       padding: 10px  25px;
       text-align: center;
     }
   
   button:hover {
       box-shadow:  3px 3px;  
   }
   #bottonFinal{
        text-align: center;
   }
   .CuotayTotal{
      background-color:#FF9C44;
     padding: 1px  5px;
     font-weight: bolder;
    text-align:center;
   } 
   
